@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3> <div style="float:right"><img src="~/Images/juventus.png" height="100%" width="100%" /> </div>

<h1>Juvenus Regem - fanclub in Poland!</h1><br />
<h1> Information : </h1> <br />
<address>
    Fanklub Juvenus Regem <br />
    Warsaw, WA 98052-6399<br />
    <abbr>Phone number:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support/Administrator:</strong>   <a href="mailto:barti144@gmail.com">barti144@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>