@model IEnumerable<FanclubJuventus.Models.ProductSize>
@{
    ViewBag.Title = "Done";
}
<br />
<br />
<br /><br />
<center>
<h2><font size="8">THANK YOU FOR YOUR ORDER!</font></h2>
    <br />
    <br />
    See what you've bought : @Html.ActionLink("Click here","Bought_P","Basket")



</center>

<br /><br />
Back to HOME: @Html.ActionLink("Home","Index","Home")